<div id='header-add-toilet'>
<p><a href='/main'>Return to Main Map</a></p>
<img src='/images/George.gif' id='Magnificent' alt='Magnificent-Facilities'/>
<h1>Add a New Location</h1>
</div>

<form action='/toilets/api' method='POST' id='new-form' enctype="multipart/form-data">
  <label for ='photo'>Location Photo</label>
  <input type='file' name='pic' class='pic'/> 

  <label for='name'>Location Name</label>
  <input type='text' name='name' id='name'/>

  <label for='price'>Price Per Use</label>
  <input type='text' name='price' id='price'/>

  <label for='child'>Child Friendly</label>
  <input type='checkbox' name='child' id='child'/>

  <label for='location'>Where</label> 
  <input type='text' name='location' id='location'/>

  <label for='opening'>Opening Hours</label>
  <input type='text' name='opening' id='opening'/>
  
  <button type='submit'>Post this location</button>

  </form>

<div>
<p>{{location_name}}</p>
<p>{{price_per_use}}</p>
<p>{{child_friendly}}</p>
<p>{{openings_time}}</p>
</div>




