<h1>Add a New Location</h1>
<form action='/post-form' method='POST' enctype="multipart/form-data" id='new-form'>

  <label for='pic'>Photo</label>
  <input type='file' name='pic' id='pic'/>

  <label for='name'>Location Name</label>
  <input type='text' name='name' id='name'/>

  <label for='price'>Price Per Use</label>
  <input type='text' name='price' id='price'/>


  <label for='child'>Child Friendly</label>
  <input type='checkbox' name='child' id='child'/>

  <label for='location'>Where</label>
  <input type='text' name='location' id='location'/>

  <label for='opening'>Opening Hours</label>
  <input type='text' name='opening' id='opening'/>
  
  <button type='submit'>Submit this location</button>

  </form>

<p><a href='/main'>Return to Main Map</a></p>