<h1>{{title}}</h1>
<h2>Login</h2>
    <form action="" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder=""/>

        <label for="input-password">Password</label>
        <input type="password" name="password" id="input-password" placeholder="" autocomplete="true"/>

        <button type="submit">Login</button>

<h2><a href='/auth/signup'>Sign Up</a></h2>
