<div id='index-info'>
<img src='/images/Logo.png' alt='logo' id='logo'/>
<h2><i>🇳🇱 Magnificent Facilities!</i></h2>
<!--<h1>{{title}}</h1>-->
<div id='auth'>
    <div class='login'> 
        <h3>Login</h3>
            <form action="/auth/login" method="POST">
                <label for="username"><p>Username</p></label>
                <input type="text" id="username" name="username" placeholder=""/>

                <label for="input-password"><p>Password</p></label>
                <input type="password" name="password" id="input-password" placeholder="" autocomplete="true"/>

                <button type="submit" id='login-btn'>Login</button>
                {{#if errorMessage}}
                   <p> {{errorMessage}} </p>
                {{/if}}
        
        <h4><a href='/auth/signup'>Sign Up</a></h4> 
        
        <p><a href='https://youtu.be/JYVBRQ7t46g' target="_blank">Wait, What is this about?</a></p>
    </div>
</div>

<footer id='main-footer'>2020 BY Y_Y ©</footer>

