
<div class='map-page-container'>
    
    <div id="map"></div>
    

    <div class='right-user-info'>
        <ul class='nav justify-content-end'>
            <li class='nav-item'>
                <a class='nav-link active' href='/auth/profile'>My Profile</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link active' href='/auth/add'>Add a Location</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link active' href='/auth/logout'>Logout</a>
            </li>
        </ul>
        <div id='info-container'></div>
    </div>
</div>



