@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body {
  background-color:#4169E1;
  font-family: 'Architects Daughter', cursive;
}

h1,h2,h3{
  color:white;
}

p{
  color:white;
}

label{
  color:white;
}

a {
  color:white; 
  text-decoration: none !important;
}

/* images */
#logo {
  width:30vw;
  margin: 5px 10px;
}

#George-user{
  width:15vw;
}

#Magnificent{
  width: 10vw;
}



/* main page */
 #map {
    width:70vw;
    height: 100vh;
    margin-right:40px;
  }

.map-page-container{
    display:flex;
  }
 
#toilet-info{
  color:white;
}

.nav-item{
  list-style:none;
}

.hide{
  display:none;
}

.right-user-info{
  margin-right:15px;
}

.toilet-photo img{
  width:30vw;
  margin:5px auto;
}

/* add-toilet page */
 #form{
  display:flex;
  flex-direction:column;
  width: 50vw;
  color:white;
} 

.pic{
  width:30vw
}

/*display a toilet info*/
ul,li{
  color:white;
}




