@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  background-color:#4169E1;
  font-family: 'Architects Daughter', cursive;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌟</text></svg>") 16 0,auto; 
}

h1,h2,h3{
  color:white;
}

p{
  color:white;
}

label{
  color:white;
}

a {
  color:white; 
  text-decoration: none !important;
}

/* images */
#logo {
  width:35vw;
}

#George-user{
  width:12vw;
}

#Magnificent{
  width: 10vw;
  margin:5px auto;
}

#george-wink{
  width: 10vw;
  margin:5px auto;
}

#kremer-login{
  width:20vw;
  margin: 10px auto;
}

#toilet-photo{
  width:20vw;
  margin:5px auto;
}

/*index page */
#index-info{
  display:flex;
  flex-direction: column;
  align-items:center;
  margin:10vh auto;
}

#index-info h2{
  margin-top:5px;
  transform: all .2s ease-in-out;
}

#index-info h2:hover{
  transform:scale(1.8);
}

#auth{
  display:flex;
  flex-direction:row;
  justify-content:center;
  margin:4px auto;
}

.login{
  display:flex;
  flex-direction:column;
  width:30%;
  text-align:center;
}

.login h3{
  margin-top:5px;
}

.login form{
  position:relative;
  bottom:30px;
}

.login form label{
  position:relative;
  top:20px;
}

.login input{
  width:185px;
}

.login h4{
  margin:5px;
  font-weight:bold;
}

#main-footer{
  width:100%;
  display:flex;
  flex-direction:center;
  justify-content:center;
  color:white;
  background-color:#89cff0;
}

#login-btn {
  width:90px;
  margin: 15px auto;
}

.login p{
  margin-top:15px;
}

/*oops-page*/
#non-login {
  margin: 50px auto;
  width:50%;
  display:flex;
  flex-direction:column;
  align-items:center;
  }
  

/* main page */
 #map {
    width:60vw;
    height: 95vh;
    margin-right:20px;
    margin-left:20px;
    position:relative;
    bottom:25px;
  }

.map-page-container{
    display:flex;
    flex-direction:left;
  }

nav{
    
    padding:0 40px;
  }
  
.nav-item{
  list-style:none;
  position:relative;
  bottom:40px; 
}

#map-logo{
  width:95px;
  margin-top:10px;
  margin-left:10px;
}

.hide{
  display:none;
}

.right-user-info{
 margin:5px 45px;
}

#save-button {
  background-color:black;
  color:white;
  margin-bottom:5px;
}

#comment-button{
  background-color:black;
  margin: 10px auto;
}

.toilet-box{
  margin:10px;
  color:white;
  text-align:center;
  position:relative;
}

/* add-toilet page */
#header-add-toilet{
  display:flex;
  flex-direction:column;
  align-items:center;
  left:50%;
}

#new-form{
  display:flex;
  flex-direction:column;
  align-items:center;
  left:50%;
  width:100%;
}

#new-form label,input{
  margin:5px auto;
}

#new-form button{
  margin: 5px auto;
}

.pic {
  width:15%;
}

/*confirm toilet page*/
.confirm-toilet{
  margin-top:10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  left:50%;
}

/*display toilet detail page*/
#a-toilet-page{
  display:flex;
  flex-direction:column;
  align-items:center;
  left:50%;
}

ul,li{
  color:white;
}

#non-login a{
 color:black;
}

#user-comments{
  margin-top:20px;
  display:flex;
  flex-direction:column;
  align-items:center;
  left:50%;
}

#comments input{
  width:25vw;
}

#comments button{
  background-color:black;
  color:white;
  margin-top:10px;
}


/*sign-up-page*/
#form {
  margin: 20px auto;
  display:flex;
  flex-direction:column;
  align-items:center;
  left:50%;
}

#form form {
  margin-top:10px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

#create-submit-button{
  margin:15px auto;
}

#sign-up-note {
  width:40%;
  margin: 10px auto;
}

#return-signup{
  position:absolute;
  left:45%;
  text-decoration:line-through;
}

/*user-page*/
#user-profile {
  margin: 50px auto;
  width:50%;
  outline-style:double;
  outline-color:white;
  align-items: center;
  display:flex;
  flex-direction:column;
}

#user-profile h2, h3, p{
  margin: 10px auto;
}